// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  max-width: 800px;
  margin:2em auto;
}

ul {
  padding-left: 0;
  @include clearfix;
  margin:2em 0;

  li {
    list-style: none;
    clear:both;

    textarea {
      display: inline-block;
      vertical-align: top;
      // border:none;
      // border-bottom:1px dotted grey;
      resize: none;
      padding:1em;
      margin:0;
      float:left;

      border-top:none;
      border-bottom:1px dotted #eee;

      // -webkit-transition: height 0.1s; 
      // -moz-transition: height 0.1s; 
    }
    .description {
      width: 70%;
      border-left:none;
      border-right:none;
      // border-right:1px dotted grey;
    }
    .links {
      width: 29%;
      border-left:none;
      border-right:none;
    }

    &:first-child {
      textarea {
        // border-top: 1px solid grey;
      }
    }
    &:last-child {
      textarea {
        border-bottom: none;
      }
    }
  }
}